---
import { getCollection, render } from 'astro:content';
import BlogLayout from '../../../layouts/BlogLayout.astro';
import { useTranslations } from '../../../i18n';
import { getRelativeLocaleUrl } from 'astro:i18n';
import type { Locale } from '../../../i18n';

const locale = Astro.currentLocale! as Locale;
const t = useTranslations(locale);

export async function getStaticPaths() {
  const locales = ['en-us','ja-jp','ko-kr','ar-sa','es-es','fr-fr','pt-pt','ru-ru','de-de'];
  const paths = [];
  for (const locale of locales) {
    const posts = await getCollection('blog', ({ data }) => data.locale === locale);
    for (const post of posts) {
      paths.push({ params: { locale, slug: post.id }, props: { post } });
    }
  }
  return paths;
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<BlogLayout title={post.data.title} description={post.data.excerpt} locale={locale} date={post.data.date} tags={post.data.tags} categories={post.data.categories}>
  <div class="mb-8">
    <a href={getRelativeLocaleUrl(locale, '/blog/')} class="back-link"><i class="bx bx-left-arrow-alt"></i> {t('blog-back')}</a>
  </div>
  <Content />
</BlogLayout>
